<%= check_box_tag "settings[inherit_members]", '1', Setting.plugin_redmine_project_form_extended.try(:[], 'inherit_members') == '1', id: :inherit_members %></td>
<%= label_tag :inherit_members, t('inherit_members') %></td>
<br />
<%= check_box_tag "settings[public_cofirmation]", '1', Setting.plugin_redmine_project_form_extended.try(:[], 'public_cofirmation') == '1', id: :public_cofirmation %></td>
<%= label_tag :public_cofirmation, t('confirm_public') %></td>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'settings_page', :plugin => 'redmine_project_form_extended' %>
<% end %>
